<div id="div-lista">

    <h2>Corridas Disponíveis</h2>

    <div id="lista-corrida">

        <table>
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Data</th>
                    <th>Distâncias</th>
                    <th>Ação</th>
                </tr>
            </thead>

            <tbody>

                @for (elem of listaCorridas(); track elem.id) {

                    <tr>
                        <td>{{ elem.descricao_corrida }}</td>

                        <td>{{ elem.data_corrida }}</td>

                        <td>
                            @if (elem.distancia5km) {
                                5km
                            }

                            @if (elem.distancia10km) {
                                10km
                            }

                            @if (elem.distancia25km) {
                                25km
                            }
                        </td>

                        <td class="acoes">
                            <button>Inscrever-se</button>
                        </td>
                    </tr>

                }

            </tbody>
        </table>

    </div>

</div>